# Fill with your dev keys
SUPABASE_URL=https://iyzcydderwflhpacpeli.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5emN5ZGRlcndmbGhwYWNwZWxpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjY3NTIyMCwiZXhwIjoyMDg4MjUxMjIwfQ.bwmWtvaHTod9UVZ2ZJivcqMAM5vlGYjrCY3J4BH0V2o
STRIPE_KEY=
